<!DOCTYPE html>
<html>
<head>
  <title>Web Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <%= csrf_meta_tags %>
  <%= turbo_include_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
